@import 'utils/reset';
@import 'utils/include-media';
@import 'utils/fonts';
@import 'utils/flickity';
@import 'utils/medias';
@import 'utils/variables';
@import 'utils/global';

@import 'components/header';
@import 'components/menu';
@import 'components/hero';
@import 'components/grid';
@import 'components/searchbox';
@import 'components/lightbox';
@import 'components/footer';

@import 'templates/home';
@import 'templates/detail';
@import 'templates/submissions';

html {
  // font-size: 16px;

  // @include media('>=xs') {
  font-size: 18px;
  // }

  @include media('>=md') {
    font-size: 20px;
  }

  height: 100%;
}

body {
  font-family:
    'Happy Times NG',
    'Times New Roman',
    'Times',
    serif;
  line-height: 1.25;
  transition: $speed ease-in;
  transition-property: opacity;
  opacity: 0;

  &.loaded {
    opacity: 1;
  }
}

::selection {
  background: $fg-secondary;
  color: $bg;
}

::placeholder {
  color: $fg-secondary;
}