@import 'utils/reset';
@import 'utils/include-media';
@import 'utils/fonts';
@import 'utils/flickity';
@import 'utils/medias';
@import 'utils/variables';
@import 'utils/global';

@import 'components/header';
@import 'components/menu';
@import 'components/hero';
@import 'components/grid';
@import 'components/searchbox';
@import 'components/fancybox';

@import 'templates/home';
@import 'templates/detail';

html {
  font-size: 20px;
  height: 100%;
}

body {
  font-family:
    'Happy times at the ikob new game plus edition',
    'Times New Roman',
    'Times',
    serif;
  line-height: 1.25;
}

::selection {
  background: $fg-secondary;
  color: $bg;
}

// ::selection {
//   background: #00FF0080;
//   color: $fg;
// }

::placeholder {
  color: $fg-secondary;
}