.main {
  background: $bg;
  transition: background $speed ease-in;
}

.canvas {
  position: relative;
  transition: left $speed ease-out;
  left: 0;
}

.btn-icon {
  @extend .pad;

  &--left {
    padding-right: 0.5rem;
  }

  &--right {
    padding-left: 0.5rem;
  }

  &__text {
    display: none;

    @include media('>=xs') {
      display: inline-block;
    }
  }

  &__icon {
    display: inline-block;

    @include media('>=xs') {
      display: none;
    }

    &--search {
      &:before {
        content: '\26B2';
        display: inline-block;
        position: relative;
        transform: rotate(-45deg);
      }
    }

    &--menu {
      &:before {
        content: '\2630';
      }
    }

    &--close {
      &:before {
        content: '\2715';
      }
    }
  }
}