.main {
  background: $bg;
  transition: background $speed ease-in;
}

.canvas {
  position: relative;
  transition: left $speed ease-out;
  left: 0;
}

.btn-icon {
  @extend .pad;

  &--left {
    padding-right: 0.5rem;
  }

  &--right {
    padding-left: 0.5rem;
  }

  &__text {
    display: none;

    @include media('>=xs') {
      display: inline-block;
    }
  }

  &__icon {
    display: block;

    @include media('>=xs') {
      display: none;
    }

    &--svg {
      margin-top: $fs * 0.125;
      margin-bottom: $fs * 0.125;
      height: $fs;
      width: $fs;
      fill: none;
      stroke: $fg;
      stroke-width: 1.25;
    }
  }
}

canvas {
  position: absolute;
  visibility: hidden;
  top: 0;
}

.menu-vertical {
  z-index: 10;
  // background-color: red;
  position: fixed;
  padding: 1rem;
  height: 100vh;
  width: $u*2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  writing-mode: vertical-rl;
  left: 0;

  .title {
    transform: rotate(180deg);
  }
}

.menu-vertical-right {
  z-index: 10;
  // background-color: red;
  position: fixed;
  padding: 1rem;
  height: 100vh;
  width: $u*2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  writing-mode: vertical-rl;
  right: 0;
}