*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
}

ul,
ol {
  list-style: none;
}

*,
*:focus,
*:active {
  outline: none;
  box-shadow: none;
}

button {
  cursor: pointer;
  border-radius: 0;
}