.detail {
  .main {
    padding-top: $hh;
  }

  .article {
    @extend .pad;
    padding-top: 4rem;
    padding-bottom: 4rem;

    &__header {
      max-width: 80ch;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 4rem;
    }

    &__title {
      @extend .ts-title;
      text-align: center;
      margin-bottom: 1rem;

      @include media('>=xs') {
        margin-bottom: 2rem;
      }
    }

    &__name {
      @extend .ts-italic;
    }

    &__date {
      @extend .ts-subtitle;
    }

    &__gallery {
      margin-bottom: 4rem;
    }

    .thumbs-lg {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4rem;

      &__link {
        display: block;
      }

      &__image {
        &:not(:last-child) {
          margin-bottom: 4rem;
        }

        img {
          max-height: 100vh;
          width: auto;
          max-width: 100%;
        }
      }

      &__caption {
        @extend .ts-small;
        margin-top: 1rem;
        color: $fg-secondary;
        display: none;
      }
    }

    .thumbs-sm {
      display: grid;
      max-width: 70ch;
      margin-left: auto;
      margin-right: auto;
      grid-template-columns: repeat(3, 1fr);
      column-gap: $u;
      row-gap: 4rem;

      &__image {
        display: flex;
        align-items: center;
      }

      &__link {
        display: block;
      }

      &__caption {
        @extend .ts-small;
        margin-top: 1rem;
        color: $fg-secondary;
        display: none;
      }
    }

    &__text {
      max-width: 70ch;
      margin-left: auto;
      margin-right: auto;

      &>* {
        @extend .body;
      }
    }

    &__body,
    &__credits {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &__website,
    &__actions,
    &__tags {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      a:not(:last-child):after {
        content: ','
      }
    }

    &__tags a {
      &:before {
        content: '#'
      }
    }
  }

  &.dark {
    .article a {
      text-decoration-color: $fg;
    }

    .main {
      background: $fg;
    }

    .header {
      color: $bg;

      &--active {
        background: $fg;
        color: $bg;
      }
    }

    .searchbox {
      background: rgba($fg, 0.75);
      color: $bg;

      &__form {
        color: $fg;
      }
    }
  }
}