.fancybox {
  &-bg {
    background: $fg;
  }

  &-is-open &-bg {
    opacity: 1;
  }

  &-caption {
    @extend .pad;
    @extend .ts-small;
    background-color: $fg;
    color: $bg;
    pointer-events: all;
    transition: opacity $speed ease-in;

    &.hidden {
      opacity: 0;
    }
  }

  &-slide--image {
    @extend .pad;
    padding-top: calc(2rem + #{$fs*1.25});
    padding-bottom: calc(2rem + #{$fs*1.25});
  }
}

// Custom info button

.lightbox {
  &__header {
    z-index: 100000;
    color: $bg;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    @extend .pad;
    pointer-events: all;
  }
}