.grid {
  width: 100%;
  overflow-x: hidden;
  padding: calc(2rem + #{$fs * 1.25}) $u;

  @include media('>=sm') {
    padding: calc(2rem + #{$fs * 1.25}) $u*2;
  }

  @include media('>=xl') {
    padding: calc(2rem + #{$fs * 1.25}) $u;
  }

  &__item,
  &__sizer {
    width: $u*19;

    @include media('>=sm') {
      width: $u*8;
    }

    @include media('>=xl') {
      width: $u*5;
    }
  }

  &__item {
    margin-bottom: 4rem;

    // &--double .block__title {
    //   @extend .ts-subtitle;
    // }

    &:nth-of-type(4n+3):not(&--double),
    &:nth-of-type(4n):not(&--double) {

      .block {
        @include media('>=sm') {
          margin-right: $u*3;
        }

        @include media('>=xl') {
          margin-right: $u*2;
        }
      }
    }

    &:nth-of-type(4n+1):not(&--double),
    &:nth-of-type(4n+2):not(&--double) {

      .block {
        @include media('>=sm') {
          margin-left: $u*3;
        }

        @include media('>=xl') {
          margin-left: $u*2;
        }
      }
    }

    // &:nth-of-type(4n+3):not(&--double) {
    //   .block {
    //     @include media('>=xl') {
    //       margin-left: $u;
    //       margin-right: $u;
    //     }
    //   }
    // }
  }

  &__gutter {
    width: $u;

    @include media('>=xl') {
      width: $u*2;
    }
  }

  .block {
    &__media {
      background-color: #000;
      transition: $speed/2 ease-in;
      transition-property: background-color;
    }

    img {
      width: 100%;
      mix-blend-mode: screen;
      transition: $speed/2 ease-in;
      transition-property: filter;
    }

    &__text {
      margin-top: 1rem;
      text-align: center;
    }

    &__name {
      @extend .ts-italic;
    }
  }
}