.header {
  @extend .pad;
  pointer-events: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $fg;
  transition: $speed ease-in;
  transition-property: opacity color;

  &--hero {
    color: $bg;
    transition: none;
  }

  &__title,
  &__nav {
    pointer-events: all;
  }
}