.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $fg;
  background: rgba($bg, 0.95);
  // border-bottom: 1px solid #000;
  // box-shadow: 0 0 2rem #0008;

  &--hero {
    color: $bg;
    background: none;

    .btn-icon__icon--svg {
      stroke: $bg;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__title {
    @extend .pad;
  }
}