.header {
  @extend .pad;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $fg;
  background: $bg;

  &__title {
    @extend .ts-link;
  }

  &--hero {
    color: $bg;
    background: none;
  }
}