.hero {
  height: 100vh;
  // min-height: 640px;
  width: 100%;
  position: relative;
  background: $fg;
  color: $bg;

  &:after {
    content: '';
    background: $fg;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: -1;
  }

  .slider,
  .slider__item {
    height: 100%;
    width: 100%;
  }

  .slider__nav {
    @extend .ts-subtitle;
    @extend .pad;
    position: absolute;
    bottom: 0;
    left: 0;
    // padding-bottom: 2rem;

    @include media('>=sm') {
      right: 0;
      left: auto;
    }
  }

  .block {
    width: 100%;
    height: 100%;
    position: relative;

    &__media {
      position: relative;
      width: 100%;
      height: 100%;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(rgba($fg, 0.1), rgba($fg, 0.2));
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }


    &__text {
      @extend .pad;
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 0;

      @include media('>=sm') {
        padding-bottom: 2rem;
      }
    }

    &__title {
      @extend .ts-title;
    }

    &__subtitle {
      @extend .ts-subtitle;
      margin-bottom: 0.5rem;
    }

    &__name {
      @extend .ts-italic;
    }
  }
}