.searchbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  transition: $speed ease-in;
  transition-property: opacity;
  pointer-events: none;

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($bg, 0.5);
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__form {
    @extend .pad;
    width: 100%;
    max-width: 70ch;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__form-inner {
    display: flex;
    justify-content: space-between;
    background: $bg;
    box-shadow: 0 0 4rem rgba($fg, 0.25);
  }

  &__input input,
  &__submit button {
    @extend .pad;
    height: 100%;
    border-bottom: 1px solid $fg;
  }

  &__input {
    flex: 1;

    input {
      width: 100%;
    }
  }

  &--open {
    pointer-events: all;
    opacity: 1;
  }

  // &--dark {
  //   background: rgba($fg, 0.75);
  //   color: $bg;

  //   .searchbox__form {
  //     color: $fg;
  //   }
  // }
}